


#app{
	margin-top:50px;
}
.label-username{
	@extend .label-info;
	font-weight: 200;
	display: inline-block !important;
    margin: 7px 7px 0 0;
}
.task-col-container{
	padding: 0px !important;
}
.task-column {
	min-height: 1px;
	border-right: 1px solid #CCC;
}
@media (min-width: 992px) {
	.task-column {
	min-height: 80vh;
	}
}
#first-task-column {
	border-left: 1px solid #CCC;
}
.task-column-heading-container{
	width: 100%;
	margin: 20px 0;
	text-align: center;

}
.draggingCursor {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.timeLoggedTable{
	@extend p;
}
.assignUsersPanel{
	min-height: 80px;
	width: 100%;
	vertical-align: top;
	border-collapse: separate;
	border-spacing: 0px;
	.right-border-this{
		border-right: 1px solid #CCC;
	}
	td{
		width: 1%;
		padding: 10px 0;
	}
	td:first-child, td:last-child{
		width: 49%;
		vertical-align: top;

		div{
			display: inline-block;
		    color: $white;
		    margin: 5px;
		    background-color: $brand-info;
		    padding: 4px 10px;
		    border-radius: 3px;
		    cursor: move; /* fallback if grab cursor is unsupported */
		    cursor: grab;
		    cursor: -moz-grab;
		    cursor: -webkit-grab;
		}
		div:active { 
		    @extend .draggingCursor;
		}
		
	}
}
.dragDrop{
	:active{
		@extend .draggingCursor;
	}
}
.task-panel {
    max-width: 600px;
    margin: 0 auto 20px auto;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
a:hover {
	cursor: pointer;
}
.dragToHereClass{
		    border-radius: 20px;
		    background-clip: padding-box;
		    border: 1px dashed $brand-primary;
		    background-color: $green-50;
		}
.notDraggingClass{
	border: 1px solid $white;
}
.ghostclass{
	border: 1px solid $brand-primary;
    background-color: $green-50;
}
